<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			.parent {
			}
			.left,.center{
				background-color: palevioletred;
				width: 100px;
				margin-right: 20px;
				float: left;
			}
			.right {
				background-color: skyblue;
				overflow: hidden;
			}
		</style>
	</head>

	<body>
		<div class="parent">
			<div class="left">
				<p>left</p>
			</div>
			<div class="center">
				<p>center</p>
			</div>
			<div class="right">
				<p>right</p>
				<p>right</p>
			</div>
		</div>
	</body>

</html>